<%- include("./partials/header") %>

<form action="/" method="GET">
  <button type="submit" class="btn btn-lg btn-success">Search Locally</button>
</form>

<form action="/" method="GET">
  <button type="submit" class="btn btn-lg btn-success">Add Locally</button>
</form>


<form action="/" method="GET">
  <button type="submit" class="btn btn-lg btn-success">Add Globally</button>
</form>

<%- include("./partials/footer") %>