

<form method="post" enctype="multipart/form-data" action="/local/things">
    <input type="file" accept = "image/*" name="file">
    <textarea name = "info"></textarea>
    <input type="submit" value="Submit">
</form>