<h1>Local Search</h1>

<form method="post" enctype="multipart/form-data" action="/local/upload">
    <input type="file" accept = "image/*" name="file">
    <input type="submit" value="Submit">
</form>



